.editar-usuario{
    margin-bottom: 5rem;
}

.bnt-excluir-usuario{
background-color: rgb(219, 0, 0);
width: 7rem;
    border-radius: 1rem;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
}