.cadastrar-hospedagem-body {
    display: flex;
flex-direction: column;
height: 70vh;
}

.short-input {
    width: 20rem;
}


.long-input {
    width: 41.5rem;
    

}

#file-input {
    visibility: hidden;
}

.icon-add-foto {
    font-size: 4rem;
}

.bnt-cadastrar-hospedagem {
    width: 8rem;
    border-radius: 1rem;
    height: 3rem;
    background-color: #76FF6A;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
}