@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

.nav {
    font-family: 'Nunito', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 1;

    border-bottom: 1px solid;
    border-color: rgb(211, 211, 211);

    padding: 0 2rem 0 2rem;


    .nav-logo {
        display: flex;
        flex-direction: row;
        float: left;
        justify-content: center;
        text-align: center;
        font-size: 2.7rem;
        //background-color: red;
    }

    .logo {
        width: 3rem;
        //background-color: aquamarine;
    }

    .nav-opcoes {
        width: 25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;



    }

    .bnt-nav-entrar {
        height: 4rem;
        width: 4rem;
        background-color: rgb(100, 197, 100);
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: black;

    }
}

.a {
    text-decoration: none;
}