.nav{
    display: flex;
flex-direction: row;
justify-content: end;
   // position: fixed;
    width: 100vw;
    height: 4rem;
    background-color: white;
    z-index: 1;

    border-bottom: 1px solid;
    border-color: rgb(211, 211, 211);

    padding: 0 2rem 0 2rem;
}